#bbp-search-form {
  margin-bottom: 10px;
}

#bbp_search_submit {
	border: none;
	padding: 0 10px;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-color: #eee;
	border-radius: 3px;
	color: #777;
	font-family: $heading-font-family;
	font-size: 11px;
	height: 36px;
	letter-spacing: 2px;
	line-height: 36px;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
}
#bbp_search_submit:hover {
	background-color: #333;
	color: #fff;
	text-decoration: none;
}