.btn-outline-red{border: 1px solid #ff0000;}
.btn-outline-red:hover{background-color:#ff0000;color:#fff}
.btn-outline-blue{border: 1px solid #316bf5;}
.btn-outline-blue:hover{background-color:#316bf5;color:#fff}
